*{
  margin:0;
  padding:0;
}
body
{
  font-family: sans-serif;
  color: #444;
}
article{
  position: relative;
} .sale
{
  background-color: red;
  color:white;
  display:inline-block;
  padding: 10px 10px;
  font-weight: bolder;
  position: absolute;
  top:-15px;
  left:-25px;
  letter-spacing:2px;
 
}
.container
{
  width:825px;
  margin: 50px auto;
  
}
.product
{
  border: 2px solid black;

}
.article-title
{
  text-transform: uppercase;
  text-align:center;
  background-color: rgba(127, 255, 212, 0.3);
  padding: 20px 60px;

}

.price
{
  font-size: 18px;
  margin: 15px 0;

}

.shipping
{
  text-transform: uppercase;
  color: rgba(6, 14, 11, 0.7);
  font-size: 14px;
  font-weight:bold;
  margin-bottom: 15px;

}

.color
{
  background-color: black;
height: 22px;
width: 22px;
display:inline-block;
/* margin-right: 10px; */
margin-left: 10px;
}
.color-blue
{
  background-color: blue;

}
.color-red
{
  background-color: red;
}
.color-yellow
{
  background-color: yellow;
}
.color-green
{
  background-color: green;
}
.color-brown
{
  background-color:brown;
}
p{
  margin-bottom: 15px;
}
.adresa
{

  text-decoration: underline;
  color:rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  display: inline-block;

}
.adresa:hover
{
text-decoration: none black;  

}
.Title-details
{
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 15px;
}
.list-details
{
  list-style:square;
  padding-left: 50px;
  margin-bottom: 15px;
}
li{
  margin-bottom: 15px;
}
li:first-child {
  margin-top:15px;
}

button
{
  width:100%;
  height:auto;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  text-transform:uppercase;
  font-weight:bolder;
  text-decoration: underline;
  font-size: 16px;
  }
button:hover
  {
background-color: white;
color: black;
text-decoration: none;
border-top: 2px solid black;
  }